* {
    box-sizing: border-box;
     font-family: "Merienda", cursive;
}



body {
    background-image: linear-gradient(45deg, rgb(203, 200, 200) 40%, rgb(8, 213, 223));
    /*background-color:rgb(0, 122, 128);*/
    color: rgb(89, 121, 118);
}

a {
    color: hsl(174, 15%, 41%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(89, 121, 118);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px gray;
}

.main::before,
.main::after {
    content: '';

    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}


@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }
}