.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.header h1 span {
    color: rgb(3, 101, 106);
    font-size: 2.5rem;
}

.header .photo {
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px gray;
}

@media only screen and (max-width: 768px) {
    .header {
        gap: 3rem;
        flex-direction: column;
    }
}